remote_theme: "mmistakes/minimal-mistakes"

# Site Settings
locale                   : "en-AU"
title                    : Skyve User Guide
description              : End user guide for applications written using the Skyve framework.
url                      : https://skyvers.github.io # the base hostname & protocol for your site e.g. "https://mmistakes.github.io"
baseurl                  : "/skyve-user-guide"

search                   : true # true, false (default)
search_full_content      : true # true, false (default)
search_provider          : algolia # lunr (default), algolia
algolia:
  application_id         : DBIMRN0AWB # YOUR_APPLICATION_ID
  index_name             : skyve-user-guide # YOUR_INDEX_NAME
  search_only_api_key    : d0b5e167e59b1a5098d6e23ffccf38fe # YOUR_SEARCH_ONLY_API_KEY
  powered_by             : true # true (default), false
  #files_to_exclude:
  #  - _posts/2017-11-28-post-exclude-search.md

# Social Sharing
twitter:
  username               : &twitter "skyveframework"
social:
  type                   : Organization # Person or Organization (defaults to Person)
  name                   : Skyve Central # If the user or organization name differs from the site's name
  links: # An array of links to social media profiles
    - "https://twitter.com/skyveframework"

# Site Footer
footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/skyveframework"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/skyvers/skyve-user-guide"

# Plugins
plugins:
  - jekyll-include-cache

# Reading Files
include:
  - .htaccess
  - _pages
keep_files:
  - .git
encoding: "utf-8"

# Collections
collections:
  docs:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
  # _docs
  - scope:
      path: ""
      type: docs
    values:
      layout: single
      sidebar:
        nav: "docs"